#//repository.amplia.es:9081/nexus/repository/amplia-npm/:_authToken=REVOKED-NEXUS-TOKEN
#//repository.amplia.es:9081/nexus/repository/npm-global/:_authToken=REVOKED-NEXUS-TOKEN
#registry=http://repository.amplia.es:9081/nexus/repository/npm-global