#//repository.amplia.es:9081/nexus/repository/amplia-npm/:_authToken=NpmToken.e7cb759d-2dcf-39f4-8a0e-f25253280ab6
#//repository.amplia.es:9081/nexus/repository/npm-global/:_authToken=NpmToken.5f5492eb-7697-3361-bcf4-e53993146fdb
#registry=http://repository.amplia.es:9081/nexus/repository/npm-global