{
    "tabWidth": 4,
    "printWidth": 140,
    "singleQuote": true,
    "semi": true,
    "trailingComma": "none",
    "arrowParens": "avoid",
    "endOfLine": "lf",
    "overrides": [
        {
            "files": ["*.yml", "*.yaml", "*.json"],
            "options": {
                "tabWidth": 2,
                "singleQuote": false
            }
        },
        {
            "files": "*.md",
            "options": {
                "proseWrap": "preserve"
            }
        }
    ]
}
